<ion-view title="Stations" id="ad_station_page">
    <ion-content ng-controller="adminStationRecordsCtrl">
    
	 <ion-list show-delete="false" can-swipe="true" ng-repeat="station in stations">
                    <ion-item>
					<h2>Name : {{station.name}}</h2>
					<h2>Address : {{station.address}}</h2>
        <h2>Contact : {{station.contact}}</h2>
        <h2>Description : {{station.description}}</h2>
                        <ion-option-button ng-click=onItemDelete(station.id) class="button-assertive icon ion-trash-a"></ion-option-button>
						 <ion-option-button ng-click=onItemActive(station.id) class="button-possitive icon ion-trash-a"></ion-option-button>
                    </ion-item>
 
                </ion-list>


    </ion-content>
</ion-view>