
<ion-view title="Users" id="ad_user_page">
   
	<ion-content padding="true" class="has-header">
    	<!doctype html>
<html lang="en" ng-app="app">
  <head>
 <meta charset="utf-8">
    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
	
	<script src="lib/angular/angular.js"></script>
	<script src="lib/dirPagination.js"></script>
	<script src="app/app.js"></script>
	
  </head>
  <body>
  <div class="item">
		<div class="item">
  
<ion-list border ="40"></ion-list>


  


<div ng-controller="finecrud">
<form class="form-inline">
        <div class="form-group">
            <label >Search</label>
            <input type="text" ng-model="search" class="table" placeholder="Search">
        </div>
    </form>
<div class="list card">
<div id="mainHolder" style="overflow: auto; max-height: 400px;">
<div style="height: 200px; width:100% overflow-y: scroll;">


<table class="table" border="2" width=100% text align="center" >
                    <thead>
                    

                   <tr> <th bgcolor="e6f3ff" >Name</th><th>&nbsp;</th>
                   <th bgcolor="e6f3ff"  >Mobile</th><th>&nbsp;</th>
                   <th bgcolor="#e6f3ff" >Action</th>
				   </tr>
                    </thead>
                    <tbody>  
				
                    <tr ng-repeat="fine in fines|filter:search">
	
                         <td  > {{fine.name}}  </td><td>&nbsp;</td>
                         <td  >    {{fine.mobile}}</td><td>&nbsp;</td>
                        
                        <td  ><button class="btn btn-primary" ng-click="showfine(fine)"align="center" > <i class="ion-edit"></i></button>&nbsp;
                        <button class="btn btn-primary" ng-click="deletefine(fine) "align="center"> <i class="ion-trash-a"></i></button>&nbsp;
                        </td></tr>
						</div>
						
                    </tbody>
                </table></div>
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" ></dir-pagination-controls>

              
</div>
</div>


<form ng-submit="editFormSubmit()" name="edituser" novalidate>

                        <label class="item item-input item-stacked-label">
                        <span class="input-label"> <b>Name </b></span>
                        <input type="text" name="name" ng-model="name" ng-pattern="/^[a-zA-Z!@#$%^&*()_-\s]*$/" required >
						<span style="color:red" ng-show="edituser.name.$error.pattern">Text only</span>
                        </label>                                
                        <label class="item item-input item-stacked-label">
                        <span class="input-label"> <b>Mobile</b></span>
                        <input type="text" name="mobile" ng-model="mobile" ng-pattern="/^[0-9]{10,10}$/"/>
						<span style="color:red" ng-show="edituser.mobile.$error.pattern">Mobile number include only numbers and length should be 10!</span>
                        </label>
                        <label class="item item-input item-stacked-label">
                        <span class="input-label"> <b>Licence PLate</b></span>
                        <input type="text" name="licence_plate" ng-model="licence_plate" >
                        </label>
						<label class="item item-input item-stacked-label">
                        <span class="input-label"> <b>Vehical Name</b></span>
                        <input type="text" name="vehicle_name" ng-model="vehicle_name" >
                        </label>
						<label class="item item-input item-stacked-label">
                        <span class="input-label"> <b>E-mail</b></span>
                        <input type="text" name="email" ng-model="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
						<span style="color:red" ng-show="edituser.email.$error.pattern">Enter valid email address!</span>
                        </label>
						

  
                 
				 <button class="button button-full button-positive" ng-disabled="edituser.$invalid"  >
        Save
        </button>
		<button class="button button-full button-assertive" ng-click="clearform()">
        Clear
        </button>
</form>
</div>
 </div>
</div>
 </body>
  </html>
    </ion-content>
</ion-view>