<ion-view title="Admin Homepage" id="page12" hide-back-button="true">
    <ion-content padding="true" class="has-header">

    <h2 style="text-align: center;">Admin Panel</h2>
    <div>
    <div ui-sref="app.adminUserView" class="icard icard-3"><div class="img_container">
		  <i class="icon ion-ios-people bigicon"></i>
		</div><h4 class="navnm">View Users</h4></div>
		
	<div ui-sref="app.adminStationView" class="icard icard-3"><div class="img_container">
		  <i class="icon ion-home bigicon"></i>
		</div><h4 class="navnm">View Stations</h4></div>
		
	<div ui-sref="app.addStation" class="icard icard-3"><div class="img_container">
		  <i class="icon ion-plus-round bigicon"></i>
		</div><h4 class="navnm">Add Station</h4></div>
		
	<div ui-sref="app.chargingRecords" class="icard icard-3"><div class="img_container">
		  <i class="icon ion-clipboard bigicon"></i>
		</div><h4 class="navnm">Charging History</h4></div>
		
	<div ui-sref="app.newsPage" class="icard icard-3"><div class="img_container">
		  <i class="icon ion-compose bigicon"></i>
		</div><h4 class="navnm">Add Notice</h4></div>
		
	<div ui-sref="app.reportPosts" class="icard icard-3"><div class="img_container">
		  <i class="icon ion-document-text bigicon"></i>
		</div><h4 class="navnm">View Posts</h4></div>
		
	<div ui-sref="app.vehiclepart" class="icard icard-3"><div class="img_container">
		  <i class="icon ion-document-text bigicon"></i>
		</div><h4 class="navnm">Shop</h4></div>
    <!-- <a ui-sref="app.adminStationView" id="admin-button1" class="button button-positive  button-block">View Stations <i class="ion-information-circled"></i></a> -->
	<!-- <a ui-sref="app.addStation" id="admin-button1" class="button button-positive  button-block">Add Stations <i class="ion-information-circled"></i></a> -->
    <!-- <a ui-sref="app.page" id="admin-button2" class="button button-positive  button-block">Charging History <i class="ion-information-circled"></i></a> -->
    <!-- <a ui-sref="app.newsPage" id="admin-button3" class="button button-positive  button-block button-block ">Notices <i class="ion-information-circled"></i></a> -->
    <!-- <a ui-sref="app.reportPosts" id="admin-button4" class="button button-positive  button-block">View Reported Posts <i class="ion-information-circled"></i></a> -->
    </div>
	
    </ion-content>
</ion-view>