
<ion-view  view-title="Friends profile page">

  
    <ion-content has-header="true" ng-controller="loadFProfileCtrl">
     <div ng-repeat="myprofile in myprofile">
     
      <div id="profile-bg"></div>
      <div id="content">
        <div id="profile-info">
          
          <ion-item >
            
            <img id="profile-image" ng-src="{{myprofile.gravatar}}">

            <div class="post-time">
              
         

          <p>Member since {{myprofile.registered_in}}</p>
      
            </div>
            
            
          </ion-item> 
            
            
            <!--<button class="button" ng-click="doSomething()">
        | Change profile pic |</button>-->

          <h3 id="profile-name" ng-model="name">User Name : {{myprofile.name}}</h3>
            <!--<h3 id="profile-name" ng-model="registeredIn">registered date : {{myprofile.registered_in}}</h3>
            -->
     
          
        </div>
           <div class="button-bar" id="page2-button-bar5">
       
             <button class="button button-positive  button-block icon ion-android-contacts" id="page2-button33"  ng-click="follow(myprofile.name)">  Follow</button>
       
           <button class="button button-positive  button-block icon ion-email" ng-click="msg(myprofile.name)" id="page2-button34">  message</button>
             <button class="button button-positive  button-block" ng-click="call()">
                    Call  <i class="icon ion-android-call"></i>
                    </button>
                  
                  <button class="button button-positive  button-block" ng-click="mail()">
                    E-mail 
                    <i class="icon ion-ios-email"></i>
                  </button> 
         


        </div>
       </div>
           
       
          <span id="profile-description"  class="item item-text-wrap">{{myprofile.description}}psum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
             type specimen book. </span>
         </div>

            
               
      <div class="list card">
           <div class="container">
	                <div id="gallery row clearfix">
			              <div class="gallery-item" ng-repeat="friend in friendlist">
                      <img ng-src="{{friend.image}}" style="height: 75%""  />
                      <p>{{friend.name}}</P>
                    </div>
                  </div><!-- /.gllery -->
		          </div><!-- /.container -->

      </div>


             <div  class="list card" ng-repeat="myprofile in myprofile">
              <label >Home town </label>
            <div id="addmap" data-tap-disabled="false" lat="{{myprofile.hometownlat}}" lng="{{myprofile.hometownlng}}" zoom="9" addmapq>
         </div>
      

  </div>
  
  
    </ion-content>

    
  <ion-footer-bar align-title="left" >

        <div class="button-bar" >
       
           <a ui-sref="app.socialNetwork" id="socialNetwork-button20"  class="button button-positive icon ion-clipboard" > Posts</a>
           <a class="button button-positive icon ion-android-chat " ui-sref="app.friendslist">   private Message</a>
        <a class="button button-positive icon ion-android-chat " ui-sref="app.chatroomhome">   chat room</a>
        </div>

    </ion-footer-bar>

</ion-view>


 <link rel="stylesheet" href="css/socialNetwork/profile.css">    <!-- comment css -->