<ion-view  view-title="friendslist page"  style="background-color:#DEDEED;">


    
         <ion-content ng-controller="friendslistCntrl" padding="true" class="has-header">
             
           <ion-list>
            <ion-item class="item-avatar dark" ui-sref="app.manageProfile">
                <img src="img/q4xbxIIlSoWlMTQ6tllU_steve.jpg">
               <p >
                <b >{{name}} </b>
            <ion-toggle toggle-class="toggle-balanced" ng-checked="true" name="activestatus"> Status Active</ion-toggle>
            
                </p>
            </ion-item>
                    
            
       
        
    <ion-list show-delete="false" ng-repeat="friend in friends" can-swipe="true">
                    <ion-item href="#">
                          {{friend.name}}
                        <ion-option-button class="button-assertive icon ion-android-person" ng-click="setFProfile(friend.name)">View Profile</ion-option-button>
                         <ion-option-button class="button-light  icon ion-android-mail" ng-click="message(friend.name)"></ion-option-button>
                    </ion-item>
                   
                </ion-list>
        
            
        </ion-content>
    
  <ion-footer-bar align-title="left" >

        <div class="button-bar" >
       
           <a ui-sref="app.socialNetwork" id="socialNetwork-button20"  class="button button-positive icon ion-clipboard" > Posts</a>
           <a class="button button-positive icon ion-android-chat " ui-sref="app.friendslist">   private Message</a>
        <a class="button button-positive icon ion-android-chat " ui-sref="app.chatroomhome">   chat room</a>
        </div>

    </ion-footer-bar>

</ion-view>

