<ion-view title="Map" id="page8">
    <ion-content padding="true" class="has-header">
	<div id="floating-panel2" ng-click="me()">
       <img src="img/nearme.png" width="42" height="42">
        
     
    </div>
    </div>
	<div id="floating-panel">
      
	<div><div class="ibox green"></div>Fast Charging</div>
	<div><div class="ibox orange"></div>Slow Charging</div>
	<div><div class="ibox ash"></div>Inactive</div>
    
    </div>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>