<ion-view title="Messenger" hide-back-button="true" id="page10" style="background-color:#DEDEED;">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-avatar dark" ui-sref="app.manageProfile">
                <img src="img/q4xbxIIlSoWlMTQ6tllU_steve.jpg">
               <p >
                {{name}}
                </p>
            </ion-item>
            <ion-toggle toggle-class="toggle-balanced" ng-checked="true" name="activestatus">Active</ion-toggle>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <ion-list ng-repeat="onlineUser in onlineUsers">
                <ion-item class="item-icon-right">{{onlineUser.username}}
                    <i class="icon ion-android-person"></i>
                </ion-item>
            </ion-list>
        </ion-list>
        <div class="spacer" style="height: 100px;"></div>
       

 <ion-footer-bar align-title="left" >

 <div class="button-bar" >
  <a id="socialNetwork-button20"  class="button button-positive icon ion-clipboard" ui-sref="app.socialnetwork">    Posts</a>
  <a class="button button-positive icon ion-android-chat " ui-sref="app.chatroomhome">   chat room</a>
</div>

</ion-footer-bar>
    </ion-content>
</ion-view>