
<ion-view  view-title="profile edit page">

  
  
 <ion-content has-header="true" ng-controller="editProfile">
     <div ng-repeat="myprofile in myprofile">
        
     
     <ion-content padding="true" style="background: url(img/3761907.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
   
      <div id="content">
          
        <div id="profile-info">
             <img id="profile-image" ng-src="{{myprofile.gravatar}}">
                  
	    <label class="item item-input " id="newPost-image" name="image">
        <input type="file" name="file" style=" width: 33.33%;  text-align: center;"  ng-model="file" class="inputimg" id="nameImg" accept="image/*" >
		</label>
        
            <label id="profile-uname"  style="  text-align: center;" name="uname" ng-model="uname" >Username :&thinsp; {{myprofile.name}}</label>
        
        </div>
       </div>
   <!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
             
  <div class="list card">

       <form id="profile" class="list " name="newPostForm" novalidate>
            
 
            <label class="item item-input " id="newPost-textarea2" name="Descrip">  <label >Description &thinsp;&thinsp;&thinsp;&thinsp;&thinsp;</label>
                <textarea placeholder="{{myprofile.description}}" style="  background-color:#f8f9f9;" ng-model="description" name="description" required></textarea>
            </label>
			<span style="color:red" ng-show="newPostForm.$submitted && newPostForm.description.$error.required">Description is required</span>
           

             <label class="item item-input "   id="newPost-input6" name="firstName"><label >first Name &thinsp;&thinsp;&thinsp;&thinsp;&thinsp;&thinsp;</label>
              <input type="text" style="  background-color:#f8f9f9;" placeholder="{{myprofile.name}}" name="firstName" ng-model="firstName" required>
            </label>
            <span style="color:red" ng-show="newPostForm.$submitted && newPostForm.firstName.$error.required">Description is required</span>

            <label class="item item-input " id="newPost-input6" name="SecondName"><label >SecondName &thinsp;</label>
              <input type="text" style="  background-color:#f8f9f9;" placeholder="{{myprofile.sname}} " name="SecondName" ng-model="SecondName" required>
            </label>
             <span style="color:red" ng-show="newPostForm.$submitted && newPostForm.SecondName.$error.required">Description is required</span>

            <label class="item item-input " id="newPost-input6" name="contactNo"><label >contact No &thinsp;&thinsp;&thinsp;&thinsp;&thinsp;</label>
              <input type="text" style="  background-color:#f8f9f9;" placeholder="{{myprofile.mobile}}" name="contactNo" ng-model="contactNo" required>
            </label>
             <span style="color:red" ng-show="newPostForm.$submitted && newPostForm.contactNo.$error.required">Second Name is required</span>
             
              <label class="item item-input " id="newPost-input6" name="licence_plate"><label >licence_plate &thinsp;&thinsp;&thinsp;&thinsp;&thinsp;</label>
              <input type="text" style="  background-color:#f8f9f9;" placeholder="{{myprofile.licence_plate}}" name="licence_plate" ng-model="licence_plate" required>
            </label>
             <span style="color:red" ng-show="newPostForm.$submitted && newPostForm.contactNo.$error.required">licence plate number is required</span>

              <label class="item item-input " id="newPost-input6" name="vehicle_name"><label >vehicle model  &thinsp;&thinsp;&thinsp;&thinsp;&thinsp;</label>
              <input type="text" style="  background-color:#f8f9f9;" placeholder="{{myprofile.vehicle_name}}" name="vehicle_name" ng-model="vehicle_name" required>
            </label>
             <span style="color:red" ng-show="newPostForm.$submitted && newPostForm.vehicle_name.$error.required">Secvehicle Name is required</span>
            
		
          
          <div  class="list card" >
              <label >Change Home town </label>
             <div id="addmap" lat="6.9271" lng="79.8612" zoom="10" addmapq> </div>
          <!--<div id="addmap" lat="{{myprofile.hometownlat}}" lng="{{myprofile.hometownlng}}" zoom="10" addmapq> </div>-->
		
<!--
        <div class="spacer" style="width: 300px; height: 31px;"></div>
     -->
        <br />
 
                <button id="newPost-button21" class=" btn waves-effect waves-light button button-full button-stable " ng-click="newPostForm.$valid && updateProfile(description,contactNo,SecondName,firstName,gravatar,licence_plate,vehicle_name) ; uploadFile()" >Publish   <i class="material-icons right">send</i></button>
                 <div class = "button button-block padding"></div>
     
      </div>
   
        </form>
     </div>
   
    </div>

                 

    </ion-content>


    <ion-footer-bar align-title="left" >

        <div class="button-bar" >
       
           <a ui-sref="app.socialNetwork" id="socialNetwork-button20"  class="button button-positive icon ion-clipboard" > Posts</a>
        <a class="button button-positive icon ion-android-chat " ui-sref="app.chatroomhome">   chat room</a>
        </div>

    </ion-footer-bar>
</ion-view>


 <link rel="stylesheet" href="css/socialNetwork/profile.css">    <!-- comment css -->
 <script src='http://fezvrasta.github.io/bootstrap-material-design/dist/js/material.min.js'></script>
 
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

