
<ion-view  view-title="profile edit page">

  
    <ion-content has-header="true">

        
     
     
      <div id="profile-bg"></div>
      <div id="content">
        <div id="profile-info">
          <img id="profile-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
            
            
            <button class="button" ng-click="doSomething()">
        | Change profile pic |</button>
          <h3 id="profile-name">Max</h3>
            
   
        </div>
       </div>

       
          <span id="profile-description"  class="item item-text-wrap">psum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
             type specimen book. </span>
        

      
       <div class="row">
      
        
        <div class="col">co2</div>
        <div class="col">col3</div>
        <div class="col">col4</div>
        <div class="col">co5</div> 
       
      </div>
   
    <div>
          <ion-item >
            <img class="post-profile-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
            post text
            <div class="post-time">Created time</div>
            <div class="post-options">
              <i class="icon-reply"></i>
              <i class="icon-shuffle"></i>
            </div>
          </ion-item> 

          <ion-item>
            <ion-label stacked>Username</ion-label>
           
             <ion-input type="text" value=""></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>First name</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Second name</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Email adress</ion-label>
            <ion-label type="text">email@test.com</ion-input>
          </ion-item>

      
          
           <div class="list card">
              <ion-item>
                  <ion-label stacked>LOCATION </ion-label> 
                  <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                   <img src="img/location.jpg" width="75%" height="100%">
                  </div>
              </ion-item>
          </div>
          </div>

          
  
  
    </ion-content>


    <ion-footer-bar align-title="left" >

        <div class="button-bar" >
       
           <a ui-sref="socialNetwork" id="socialNetwork-button20"  class="button button-positive icon ion-clipboard" > Posts</a>
        <a class="button button-positive icon ion-android-chat " ui-sref="chatroomhome">   chat room</a>
        </div>

    </ion-footer-bar>
</ion-view>


 <link rel="stylesheet" href="css/socialNetwork/profile.css">    <!-- comment css -->