
<ion-view  view-title="Post Home page">




  <div class="bar bar-subheader">
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item"  ui-sref="app.newPosts">
                <i class="icon ion-ios-compose"></i>
                Add a Post
            </a>
            <a class="tab-item" ui-sref="app.posthistory">
                <i class="icon ion-trophy"></i>
                View My Post History
            </a>
        </div>

</div>

 <ion-content ng-controller="base64Ctrl" padding="true" style="background: url(img/postbackground.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
   
  <!--<ion-content ng-controller="loadPostCtrl">-->
  

	 <div class="padding"> </div>
     
    <ion-list > 
      <!--<ion-item  ng-repeat="post in loadposts " class="item-icon-right item-remove-animate">-->
        <div ng-repeat="post in imgs | toArray | orderBy: '-timeStamp'" class="col-xs-12 col-sm-6 col-md-3"  >

        <div class="item item-divider" style=" opacity:0"> <div class="padding"> </div></div>


				<div style=" background-color: #3299CC;" class="item item-avatar">
                <img ng-src="{{post.userimage}}">
                <h2>{{post.username}}</h2>

                <p>{{post.timeStamp | date:'d MMM yyyy'}}</p>
              
       </div>

              <div class="item item-body">
                <b>  <h2>{{post.title}}</h2> </b><br>
				
             		<div class="item item-divider">
						<img height="250px" width="400px" ng-src="{{post.image}}"> 
					</div>
                <p>
                {{post.description}} </p>
                 <!--<p>
                {{post.image}} </p>-->
              

                <p>
                  <a href="#" class="subdued">{{post.noOfLikes}} Like</a>
                  <a href="#" class="subdued">{{post.noOfDisLikes}} disLike</a>
                  <a href="#" class="subdued">{{post.noOfReports}} reported</a>
                  <a href="#" class="subdued">{{post.noOfcomments}} Comments</a>
                </p>
				
				 <div  ng-controller="postCtrl" class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                       <button  ng-click=addlike(post.title) class="styl ion-thumbsup " ></button>
                        <b>Like</b>
                    </a>
					  <a class="tab-item" href="#">
                       <button  ng-click=adddislike(post.title) class="styl ion-thumbsdown " ></button>
                        Dislike
                    </a>
					  <a class="tab-item" href="#">
                       <button  ng-click=report(post.title) class="styl ion-flag " ></button>
                        Report
                    </a>
                   
                </div>

          

</div>


  <div class="item item-body">

    <div ng-controller="newselect">
      <button ui-sref="app.viewpost" ng-click=setSelectedPost(post.title) style=" padding: 5px 20px; background: #0099CC; border: none;color: white;">View Comments</button>
    </div>



					  </ion-item>

				</div>
			</div>
      </ion-item>
    </ion-list>

  </ion-content>



 <ion-footer-bar align-title="left" >

 <div class="button-bar" >
  <a id="socialNetwork-button20"  class="button button-positive icon ion-clipboard" ui-sref="#">    Posts</a>
  <a class="button button-positive icon ion-android-chat " ui-sref="app.friendslist">   My friends</a>
  <a class="button button-positive icon ion-android-chat " ui-sref="app.chatroomhome">   chat room</a>
</div>

</ion-footer-bar>


</ion-view>


 <link rel="stylesheet" href="css/socialNetwork/commentstyle.css">    <!-- comment css -->
