<ion-view>
  <ion-nav-title>Details</ion-nav-title>
     <ion-content padding="true" style="background: url(img/daLkLLQeieKJBgrz5kAr_app_background.jpg) no-repeat center;background-size:cover;" class="has-header">
	<script id="my-modal.html" type="text/ng-template">
			  <ion-modal-view>
				 <ion-header-bar class="bar-balanced">
				 <h1 class="title" >All Status</h1>
			<button class="button button-clear " ng-click="closeModal()"><i class="icon ion-close"></i></button>
				</ion-header-bar>
				<ion-content ng-controller="stationStatusCtrl">
				 <div>
				 <ul class="list" >
			<li class="item" ng-style="{background: colorCodeArray[$index % colorCodeArray.length]}" ng-repeat="item in items">
			
			
				<span ng-repeat="me in getName(item.user_id)"></span>
				<p><span style="font-size:medium;font-weight: bold;">{{myname}}</span>&nbsp;
				<span style="font-size:small;">{{item.time | date:'shortTime'}}<span></p>
				<p>{{(item.on_myWay==1)?"I'm on my way to charging station :o":""}}</p>
				<p>{{(item.in_theQueue==1)?"Waiting on the queue :(":""}}</p>
				<p>{{(item.charging==1)?"Currntly charging my vehicle :)":""}}</p>
				<p>{{(item.completed==1)?"Charge completed :D":""}}</p>
				
			</li>
		</ul>
			</div>
				</ion-content>
			  </ion-modal-view>
			</script>
	 <div class="list card">

  <div class="item item-avatar">
    <h1 style="color:#CC4545;">{{name}}</h1>
  </div>

  <div class="item item-body">
    <img class="full-image" src="https://suncountryhighway.com/Content/Layouts/Web/images/carousel/main_feature_ev60.jpg">
    <p class="lightgreen">Port: <strong>{{port}}</strong></p>
	<p class="lightgreen">Open: <strong>{{(hours!=''?hours +" hours":"Not Provided")}}</strong></p>
	<p class="lightgreen">Cost: <strong>LKR {{cost}}/KWH</strong></p>
	<p class="lightgreen">Address : <strong>{{address}}</strong></p>
	<div class="spacer" style="width: 283px; height: 16px;"></div>
        <p id="page-markdown2" style="color:#CC4545;" class=" "><strong>{{fullStatus}}</strong></p>
		<p ng-click="openModal()" ng-hide="hideView" ><a href="" >view</a></p>
        <button id="page-button1" class=" button button-balanced  button-inline " ng-click="launchNavigator()"  >Get Direction</button>
		<div class="spacer" style="width: 283px; height: 16px;"></div>
   
  </div>

</div>
	
	
        <ion-list>
        <ion-item class="item-divider item-icon-right item-assertive"><b>SET YOUR STATUS </b> <i class="icon ion-toggle-filled"></i></ion-item>
        <ion-item>
            <ion-toggle ng-model="myway" ng-change="ToggleOnMyWay(myway)" toggle-class="toggle-stable" class=" ">On my way</ion-toggle>
            <ion-toggle ng-model="inqueue" ng-change="ToggleInQueue(inqueue)" toggle-class="toggle-positive" class=" ">In the queue</ion-toggle>
            <ion-toggle ng-model="charge" ng-change="ToggleCharging(charge)" toggle-class="toggle-energized" id="page-toggle3" class=" ">Charging</ion-toggle>
            <ion-toggle ng-model="complete" ng-change="ToggleCompleted(complete)" toggle-class="toggle-balanced" id="page-toggle4" class=" ">Completed</ion-toggle>
        </ion-item>
      </ion-list>
	  <br>
	 

   
      
    
      <ion-list >
        <ion-item class="item-divider item-icon-right item-royal"><b>CONTACTS</b> <i class="icon ion-chatboxes"></i></ion-item>
        <ion-item class="item-icon-right" ng-click="call()">
          Call us  
          <i class="icon ion-android-call"></i>
        </ion-item>
        <ion-item class="item-icon-right" ng-click="mail()">
          Send us an e-mail 
          <i class="icon ion-ios-email"></i>
        </ion-item> 
        <ion-item class="item-icon-right" ng-click="website()">
          Visit our homepage
          <i class="icon ion-ios-home"></i>
        </ion-item>
      </ion-list>
    </div>
	
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="map()">
        <i class="icon ion-map"></i> Maps
      </div>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="report()">
        Report
        <i class="icon ion-android-alert"></i>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
