<ion-view id="userMessagesView"
    cache-view="false" 
    view-title=" {{toUser.username}} Private chat">
  
  <div class="loader-center" ng-if="!doneLoading">
      <div class="loader">
        <i class="icon ion-loading-c"></i>
      </div>
  </div>

    <ion-content has-bouncing="true" class="has-header has-footer"   style="background: url(img/chatB.jpg) no-repeat center;background-size:cover;"
        delegate-handle="userMessageScroll">
      
        <div ng-repeat="message in messages" class="message-wrapper"
            on-hold="onMessageHold($event, $index, message)">

            <div ng-if="user._id !== message.userId">
                
              <img ng-click="viewProfile(message)" class="profile-pic left" 
                    ng-src="{{toUser.pic}}" onerror="onProfilePicError(this)" />

                <div class="chat-bubble left">

                    <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                    </div>

                    <div class="message-detail">
                        <span ng-click="viewProfile(message)" 
                            class="bold">{{toUser.username}}</span>,
                        <span am-time-ago="message.date"></span>
                    </div>

                </div>
            </div>

            <div ng-if="user._id === message.userId">
              
                 <img ng-click="viewProfile(message)" class="profile-pic right" 
                    ng-src="{{user.pic}}" onerror="onProfilePicError(this)" />
              
                <div class="chat-bubble right">

                    <div class="message" ng-bind-html="message.text | nl2br" autolinker> </div>
                    <img  style="width:100px" ng-if="message.photo" ng-src="{{message.photo}}" ng-success="refreshScroll(scrollDown)">          
                    <div class="message-detail">
                        <span ng-click="viewProfile(message)" 
                            class="bold">{{user.username}}</span>, 
                        <span am-time-ago="message.date"></span>
                    </div>

                </div>
              
            </div>
             
            <div class="cf"></div>

        </div>

             
            <div ng-if="chatStat!='' || chatStat "  >
                
              {{toUser.username}} is  <img   ng-src="img/typing.gif"/>
   
            </div>

    </ion-content>

    <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
        
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
        
            <label class="item-input-wrapper">
                <textarea ng-model="input.message" value="" placeholder="Send {{toUser.username}} a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
            </label>
			
			 <button class="button button-icon icon ion-images button-dark button-clear photo" type="button" ng-if="!input.message || input.message === ''" on-tap="sendPhoto()"></button> 
           <div class="footer-btn-wrap">
 
        <div>_</div><button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="!input.message || input.message === ''"></button>
        <a ng-click="refreshScroll(true, 50)" ng-show="!scrollDown" class="scrollDownBtn button button-icon icon ion-android-arrow-dropdown-circle"></a>
      </div>
        </ion-footer-bar>
    </form>
    
</ion-view>

    <link href="css/privateChat.css" rel="stylesheet">
   
    