<ion-view title="">


  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <ion-list>
      <ion-item class="item-thumbnail-left"  ui-sref="app.vehiclepartNew({part:'br'})">
       
        <h2>Brakes and Breakes Part</h2>
      </ion-item>

      <ion-item class="item-thumbnail-left"  ui-sref="app.vehiclepartNew({part:'cs'})">
       
        <h2>Cooling System</h2>
      </ion-item>

      <ion-item class="item-thumbnail-left" ui-sref="app.vehiclepartNew({part:'gl'})">
       
        <h2>Glass</h2>
      </ion-item>

      <ion-item class="item-thumbnail-left" ui-sref="wh">
       
        <h2>Wheels,Tires and parts</h2>
      </ion-item>

     <ion-item class="item-thumbnail-left" ui-sref="lig">
       
        <h2> Ligting and Lamps</h2>
      </ion-item>

      <ion-item class="item-thumbnail-left" ui-sref="ec">

        <h2>Engines and Components</h2>
      </ion-item>



    </ion-list>
  </ion-content>

</ion-view>


