.scroll {
    height: 100%;
}

div.hidden {border-style: hidden;}

	.controls {
		position: absolute;
        bottom: 35px;
        left: 5%;
        z-index: 5;
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 40px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
	  
 #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 0px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 60%;
		height:40px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }

/** Error Messages **/

/** Styling for the username field **/
label.item.has-error {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

#whitelbl{
	 background-color: white;
}

#map {
    width: 100%;
    height: 100%;
}

#panel{
        width:80%;height:400px;margin:10px auto;
      }
	  
#addmap{
        width:80%;height:400px;margin:10px auto;box-shadow:0 3px 25px black;
      }
	  
 #floating-panel {
        position: absolute;
        bottom: 35px;
        left: 5%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        font-family: 'Roboto','sans-serif';
        line-height: 20px;
        padding-left: 10px;
      }
	  
#floating-panel2 {
        position: absolute;
        top: 10%;
        left: 5%;
        z-index: 5;
        padding: 5px;
      }
	  

	  
.ibox {
  float: left;
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.green {
  background: #AEDC20;
}

.lightgreen {
  background: #f2ffcc;
}

.orange {
  background: #EC7A2B;
}

.ash {
  background: #4D4E4E;
}

	  .hilight h2{
    font-family: Helvetica, Verdana;
    color: #FFF;
    z-index: 200;
}

.promo {
    position: relative;
}
.promo img {
    z-index: 1;
}

.hilight {
 background-color: rgba(255,255,255,0.65);
 position: absolute;
 height: 90px;
 width: 100%;
 font-family: Verdana, Geneva, sans-serif;
 color: #FFF;
 bottom: 0px;
 z-index: 1;
}

.bigicon {
    font-size: 30px;
	margin-top:40px;
}

.img_container{
    text-align: center;
    height:60%;
}

.navnm{
    text-align: center;
}

.img_container > i {
    position:relative;
    top: calc(50% - 10px); /* 50% - 3/4 of icon height */
}
	  
	  .icard 
	  {
	  background: #fff;
	  border-radius: 2px;
	  display: inline-block;
	  height: 30%;
	  margin: 1rem;
	  position: relative;
	  width: 40%;
	 }
	  
	.icard-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}